@import '@/styles/colors.scss';

.auth {
  position: fixed;
  top: 15%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;

  &__header {
    margin-bottom: 40px;

    h1 {
      color: $primary;
      font-weight: 600;
    }
  }

  &__body {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    gap: 2rem;

    &--fields {
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      gap: 1rem;
    }

    &--page-switcher {
      display: flex;
      justify-content: center;
      gap: 0.5rem;
      margin: 2rem 0;
    
      &--dot {
        height: 12px;
        width: 12px;
        cursor: pointer;
        background-color: #bbb;
        border-radius: 50%;
        display: inline-block;
      }

      .active {
        background-color: $primary;
        pointer-events: none;
        cursor: default;
      }
    }

    &--submit {
      height: 120px;
      margin-top: 40px;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-between;

      button {
        width: 100%;
        text-transform: uppercase;
      }
    }

    &--options {
      height: 50px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: center;

      a {
        color: $primary;
        font-weight: 600;
        font-size: 12px;
        text-decoration: none;
        text-transform: uppercase;

        &:hover,
        &:focus {
          opacity: 65%;
        }
      }
    }
  }

  &__footer {
    width: 175px;
    margin-top: 1rem;
    display: flex;
    flex-direction: column;

    p {
      display: flex;
      justify-content: center;
      color: $grey;
    }

    &--plugins {
      display: flex;
      justify-content: space-around;

      button {
        display: flex;
        align-items: center;
        padding: 15px 22px;
        color: $primary;
        border: 2px solid $primary;
        border-radius: 100%;
        transition: 0.5s;

        &:hover,
        &:focus {
          color: $white;
          background: $primary;
        }
      }
    }
  }
}
