@import '@/styles/colors.scss';

button,
.btn {
  height: 60px;
  padding: 0 20px;
  margin: 0;
  border: none;
  border-radius: 8px;
  background: transparent;
  font-weight: 600;
  text-transform: uppercase;
  transition: 0.3s;

  cursor: pointer;

  &__primary {
    color: $white;
    background: $primary;

    &:hover {
      opacity: 65%;
    }
  }

  &__secondary {
    color: $primary;
    border: 1px solid $primary;

    &:hover {
      color: $white;
      background: $primary;
    }
  }
}
