// primary color
$primary: #7e1f86;

$sooty: #141414;
$grey: #b1b1b1;
$white: #ffffff;
$paper-white: #eef0f2;
$cold-white: #effffa;
$morning-mist: #e5ecf4;
$light-periwinkle: #c3bef7;

// validation/general

$error: #c31d1d;
$success: #19ac19;

