@import '@/styles/colors.scss';

.form-control {
  display: flex;
  flex-direction: column;
  position: relative;
  // padding: 0 5rem;

  label {
    font-size: 0.8rem;
    margin-left: 0.1rem;
    margin-bottom: 0.5rem;
    color: $sooty;
  }

  input[type='text'],
  input[type='email'],
  input[type='password'],
  input[type='number'] {
    display: flex;
    width: 80%;
    min-width: 280px;
    max-width: 380px;
    height: 50px;
    padding: 8px;
    border: 1px solid $grey;
    border-radius: 8px;
    transition: 0.3s;

    &:focus,
    &:focus-visible,
    &:active,
    &:hover {
      outline: 1.5px solid $primary;
    }
  }

  textarea {
    display: flex;
    width: 80%;
    min-width: 280px;
    max-width: 380px;
    padding: 8px;
    resize: none;
    font-family: Arial;
    border: 1px solid $grey;
    border-radius: 8px;
    transition: 0.3s;
    &:focus,
    &:focus-visible,
    &:active,
    &:hover {
      outline: 1.5px solid $primary;
    }
  }

  &--optional-caption {
    color: $grey;
    font-size: 0.7rem;
  }

  &--invalid-input-message {
    font-size: 0.8rem;
    margin-top: 0.25rem;
    color: $error;
    vertical-align: middle;
  }

  &--input-icon {
    position: absolute;
    top: 0;
    right: 5px;
    vertical-align: middle;
    margin-top: 2.4rem;
    font-size: 1.1rem;

    &.valid {
      color: $success;
    }

    &.invalid {
      color: $error;
    }
  }
}

.invalid-input-message {
  font-size: 0.8rem;
  margin-top: 0.25rem;
  color: $error;
  vertical-align: middle;
}

.input-icon {
  position: absolute;
  top: 0;
  right: 5px;
  vertical-align: middle;
  margin-top: 1rem;
  font-size: 1.1rem;

  &-valid {
    color: $success;
  }

  &-invalid {
    color: $error;
  }
}

.job-checkbox {
  flex-direction: row;
  justify-content: start;
  align-items: center;
  margin-top: 1.25rem;

  label {
    margin-right: 1rem;
    margin-bottom: 0;
  }
}
